<!DOCTYPE html>
<html>
<head>
    <title>Management User</title>
</head>
<body>
    <h1>Management User</h1>
    <a href="/management_nhanvien">Management Nhan Vien</a><br>
    <a href="/management_khachhang">Management Khach Hang</a><br>
    <a href="/management_user">Management user</a><br>
    <a href="/management_danhmuc">Management Danh Muc</a><br>
    <a href="/management_sanpham">Management San Pham</a><br>
    <a href="/management_donhang">Management Don Hang</a><br>
    <a href="/management_ctdh">Management CTDH</a>
</body>
</html>
