<!DOCTYPE html>
<html>
<head>
    <title>Khach hang Management</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Quản lý Khach Hang</h1>

    <h2>Danh sách Khach Hang</h2>
    <ul id="khachHangList"></ul>

    <h2>Thêm Khach Hang</h2>
    <form id="addKhachHangForm">
        <label for="hoten">Họ Tên:</label>
        <input type="text" id="hoten" name="hoten"><br><br>

        <label for="ngaysinh">Ngày Sinh (YYYY-MM-DD):</label>
        <input type="text" id="ngaysinh" name="ngaysinh"><br><br>

        <label for="phone">Số Điện Thoại:</label>
        <input type="text" id="phone" name="phone"><br><br>

        <label for="diachi">Địa Chỉ:</label>
        <input type="text" id="diachi" name="diachi"><br><br>

        <label for="ghichu">Ghi Chú:</label>
        <input type="text" id="ghichu" name="ghichu"><br><br>

        <label for="userid">User ID:</label>
        <input type="text" id="userid" name="userid"><br><br>

        <input type="submit" value="Thêm Nhân viên">
    </form>

    <script>
        $(document).ready(function() {
            fetchKhachHangs();
        });

        function fetchKhachHangs(){
            $.ajax({
                url: '/khachhang_index',
                type: 'GET',
                success: function(response){
                    displayKhachHangs(response.khachhangs);
                }
            });
        }   

        function displayKhachHangs(KhachHangs) {
            var khachHangList = $('#khachHangList');
            khachHangList.empty();

            KhachHangs.forEach(function(KhachHang) {
                var listItem = $('<li>');
                listItem.append($('<div>').text('ID: ' + KhachHang.KhachHangID));
                listItem.append($('<div>').text('HoTen: ' + KhachHang.HoTen));
                listItem.append($('<div>').text('Birthday: ' + KhachHang.NgaySinh));
                listItem.append($('<div>').text('Phone: ' + KhachHang.Phone));
                listItem.append($('<div>').text('DiaChi: ' + KhachHang.DiaChi));
                listItem.append($('<div>').text('GhiChu: ' + KhachHang.GhiChu));
                listItem.append($('<div>').text('UserID: ' + KhachHang.UserID));

                var deleteItem = $('<button onclick="deleteKhachHang(\'' + KhachHang.KhachHangID + '\')">Delete</button>');
                listItem.append(deleteItem);

                khachHangList.append(listItem);
                khachHangList.append($('<br>')); // Xuống dòng sau mỗi item
            });
        }


        $('#addKhachHangForm').submit(function(event){
            event.preventDefault();
            var formData = {
                hoten: $('#hoten').val(),
                ngaysinh: $('#ngaysinh').val(),
                phone: $('#phone').val(),
                diachi: $('#diachi').val(),
                ghichu: $('#ghichu').val(),
                userid: $('#userid').val()
            };
            $.ajax({
                url: '/khachhang_add',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(response){
                    alert(response.message);
                    fetchKhachHangs();
                }
            })
        })

        function deleteKhachHang(KhachHangID){
            if(confirm('Check delete Nhan Vien')){
                $.ajax({
                    url: '/khachhang_delete/' + KhachHangID,
                    type: 'DELETE',
                    success: function(response){
                        alert(response.message);
                        fetchKhachHangs();
                    }
                });
            }
        }
    </script>
</body>
</html>
